[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
django-environ = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-hamlpy = "*"
djangorestframework = "*"
django-filter = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest = "*"
django-debug-toolbar = "*"
faker = "*"
factory-boy = "*"

[requires]
python_version = "3.8"

[scripts]
check = "gunicorn --check-config config.wsgi"
server = "python manage.py runserver"
pro = "gunicorn config.wsgi --preload"
test = "docker-compose run web python manage.py test --debug-mode -v 2"
