[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
django-environ = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
server = "python manage.py runserver"
# server = "gunicorn life_recorder.wsgi --preload --log-level info"
test = "pytest -vv"
