h4 {
    color:#02F;
}

.basic-card {
    height: 200px;
}

/* -------------- jQuery Autocomplete -------------- */
.autocomplete-custom-highlight { background: yellow; }
.ui-autocomplete {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
