-load static

%link(rel="stylesheet" type="text/css" href="{% static 'flatpickr/dist/flatpickr.min.css' %}")
%script(type="text/javascript" src="{% static 'flatpickr/dist/flatpickr.min.js' %}")
%script(type="text/javascript" src="{% static 'javascripts/cms/flatpickr_initializer.js' %}")
