- load static
- block vendors
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/bootstrap/dist/css/bootstrap.min.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/font-awesome/css/font-awesome.min.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/animate.css/animate.min.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/iCheck/skins/flat/green.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/nprogress/nprogress.css' %}")
  %link(rel="stylesheet" href="{% static 'gentelella/vendors/jqvmap/dist/jqvmap.min.css' %}")

%link(rel="stylesheet" type="text/css" href="{% static 'gentelella/build/css/custom.css' %}")
