%nav{'aria-label': "Page navigation"}
  %ul.pagination
    - if page_obj.has_previous
      %li.page-item
        %a.page-link{href: "?page={{ page_obj.previous_page_number }}", 'aria-label': "Previous"}
          %span(aria-hidden="true") &laquo;
          %span.sr-only Previous
    - else
      %li.page-item.disabled
        %a.page-link{href: "#", 'aria-label': "Previous"}
          %span(aria-hidden="true") &laquo;
          %span.sr-only Previous

    - for linkpage in page_obj.paginator.page_range
      - ifequal linkpage page_obj.number
        %li.page-item.active
          %a.page-link{href: "#"}= linkpage
      - else
        %li.page-item
          %a.page-link{href: "?page={{ linkpage }}"}= linkpage

    - if page_obj.has_next
      %li.page-item
        %a.page-link{href: "?page={{ page_obj.next_page_number }}", 'aria-label': "Next"}
          %span(aria-hidden="true") &raquo;
          %span.sr-only Next
    - else
      %li.page-item.disabled
        %a.page-link{href: "#", 'aria-label': "Next"}
          %span(aria-hidden="true") &raquo;
          %span.sr-only Next
