- extends "cms/base.html.haml"

- block content
  %h4.mt-4.border-bottom Activity Types
  %a.btn.btn-primary.btn-sm.my-3{href: "{% url 'cms:new_activity_type' %}"} 追加
  %table.table.table-sm.table-striped
    %thead
      %tr
        %th id
        %th name
        %th{colspan: 2} color
    %tbody
      - for type in activity_types
        %tr
          %td= type.id
          %td= type.name
          %td= type.color
          %td{ style: 'background-color: {{type.color}};' }

  - include 'partials/btn_back.html.haml'
