!!!
-# Set bootstrap4


-# INFO: It is necessary for enabling bootstrap_datepicker_plus working.
= form.media

- load i18n static

- get_current_language as LANGUAGE_CODE

%html{lang: '#{LANGUAGE_CODE|default:"en-us"}'}
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    - include 'partials/css_includer.html.haml'
    %title
      - block title
        My books

  %body
    .nav-md
      .container.body
        .main-container
          - include 'partials/sidebar.html'

      -# %main.col-12.col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content(role="main")
      - block content
        = content

    - block extra_js
      %script(src="{% static 'gentelella/vendors/jquery/dist/jquery.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/fastclick/lib/fastclick.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/nprogress/nprogress.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/iCheck/icheck.min.js' %}" type="text/javascript")

      -# daterangepicker
      %script(src="{% static 'gentelella/vendors/moment/min/moment.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/bootstrap-daterangepicker/daterangepicker.js' %}" type="text/javascript")

      -# bootstrap-wysiwyg
      %script(src="{% static 'gentelella/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/jquery.hotkeys/jquery.hotkeys.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/google-code-prettify/src/prettify.js' %}" type="text/javascript")


      %script(src="{% static 'gentelella/vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/switchery/dist/switchery.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/select2/dist/js/select2.full.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/parsleyjs/dist/parsley.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/autosize/dist/autosize.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js' %}" type="text/javascript")
      %script(src="{% static 'gentelella/vendors/starrr/dist/starrr.js' %}" type="text/javascript")

    %script(src="{% static 'gentelella/build/js/custom.js' %}" type="text/javascript")
