!!!
-# Set bootstrap4
- load bootstrap4
- bootstrap_css
- bootstrap_javascript jquery='full'

-# INFO: It is necessary for enabling bootstrap_datepicker_plus working.
= form.media

- load i18n static

- get_current_language as LANGUAGE_CODE

%html{lang: '#{LANGUAGE_CODE|default:"en-us"}'}
  %head
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    - block extra_css
    %title
      - block title
        My books

  %body
    %div.container
      - block content
        = content

    - block extra_js
