{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}活動内容の編集{% endblock title %}

{% block content %}
  <h4 class="mt-4 mb-5 border-bottom">活動内容の編集</h4>
  {% if activity_id %}
    <form action="{% url 'cms:edit_activity' record_id=record_id activity_id=activity_id %}" method="post">
  {% else %}
    <form action="{% url 'cms:create_activity' record_id=record_id %}" method="post">
  {% endif %}
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <div class="form-group row">
      <div class="offset-md-3 col-md-9">
        <button type="submit" class="btn btn-primary btn-sm">送信</button>
      </div>
    </div>
  </form>
  <a href="{% url 'cms:activities' record_id=record_id %}" class="btn btn-outline-secondary btn-sm">戻る</a>
{% endblock content %}
