- extends "cms/base.html.haml"

- block title
  活動内容の編集

- block content
  %h4.mt-4.mb-5.border-bottom 活動内容の編集
  - if activity_id
    %form(action="{% url 'cms:edit_activity' record_id=record_id activity_id=activity_id %}" method="post")
      - include 'partials/bootstrap_submit.html.haml'
  - else
    %form(action="{% url 'cms:create_activity' record_id=record_id %}" method="post")
      - include 'partials/bootstrap_submit.html.haml'

  %a.btn.btn-outline-secondary.btn-sm(href="{% url 'cms:activities' record_id=record_id %}") 戻る

  %ul#autocomplete-candidates{'hidden': True}
    - for act in template_activities
      %li.candidate{class: '{{ act.activity_type.name }}'}= act.name
